.main {
  flex-grow: 1;
}

.hero {
  
}
.hero-wrapper{
}

.hero-circle-line_box { 
  margin-top: 15rem;
  margin-left: -10rem;
  width: 53.5rem;
  height: 13rem;
}

.hero_container {
  display: flex;
  align-items: center;
  margin-top: -6rem;
}

.hero-title {
  max-width: 71rem;
  color:  #fff;
  font-family: var($font-family);
  font-size: 8.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.5px;

  span{
    text-decoration: underline;
  // position: relative;
  // z-index: 1;
  // &::before {
  //   content: " ";
  //   height: 5px;
  //   background-color:#4EE1A0;
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0.9rem;
  //   z-index: -1;
  }
}

.hero-text{
  max-width: 45rem;
  color: #D9D9D9;
  font-family: var($font-family);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 4.3rem;
  margin-bottom: 6.6rem;
}

.notion-site_btn {
  color: #FFF;
  font-family: var($font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2.286px;
  text-transform: uppercase;
}

.hero-info_images-part {
  padding-right: 3rem;
  margin-top: -30rem;
  background-color: #242424;
  width: 44.4rem;
  height: 61.8rem;
  padding-top: 12rem;
  // margin-right: 1rem;
}

.hero-info_img {
  
  width: 44.4rem;
  height: 61.8rem;
}
.experience{
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.experience_container {}


.hr-line {}

.practice-part{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;
}
.circle-line_part{
  position: absolute;
  right:  20rem;
  bottom: -55rem;
}
.practice-box{
  margin-bottom: 6rem;
  width: 33.3%;
  h1{
    color:#FFF;
    font-family: var($font-family);
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    margin-bottom: 1.4rem;
  }
  p{
    color: #D9D9D9;
    font-family: var($font-family);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 155.556% */
  }
}

.projects-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  h1{
    color: #FFF;
    font-family: var($font-family);
    font-size: 8.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2.5px;
  }
}
.projects-parent_part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 13.9rem;
}
.project_box {
  width: 45%;
  h3{
    color:#FFF;
    font-family: var($font-family);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
  }
  p{
    color:#D9D9D9;
    font-family: var($font-family);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 6.9rem;
  }
}


.full-pages-img{
  width: 54.6rem;
  height: 40rem;

}
.footer{
  padding: 8.4rem 16.5rem 9.4rem 16.5rem;
  background-color: #242424;
}

.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.footer-wrap{
  h1{
    color: #FFF;
    font-family: var($font-family);
    font-size: 8.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2.5px;
    text-transform: capitalize;
  }
  p{
    max-width: 44.5rem;
    color:#D9D9D9;
    font-family: var($font-family);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 3.6rem;
  }
}
.input_box{
  margin-left: 35rem;
  .input{
      width: 20rem;
      display: flex;
      color:#FFF;
      font-family: var($font-family);
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: -0.222px;
      text-transform: capitalize;
      border: none;
      background: transparent;
      border-bottom: 2px solid #505050;
      margin-bottom: 5.2rem;
  }
  .inputs::placeholder{
    margin-bottom:  3rem;
  }
}
.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.7rem;
}

.footer-logo_img {
    width: 17.2rem;
    height: 3rem;
}

.footer-icons_box {
  display: flex;
  align-items: center;
}

.footer-icons:not(:last-child) {
  margin-right: 3.2rem;
}

.footer-icon_img {
  width: 2.4rem;
  height: 2.4rem;
}







@media(max-width: 1150px){
  .hero-info_images-part{
    margin-right: -2rem;
  }
}
@media(max-width: 1100px) {
  .hero-title{
    font-size: 7.2rem;
  }
    .hero-info_images-part {
      margin-right: -2rem;
    }
}

@media(max-width: 970px) {
  .hero-title {
    font-size: 6.2rem;
  }
  .hero-circle-line_box{
    margin-left: -15rem;
  }
  .hero-info_images-part {
    margin-right: -2rem;
  }
}

@media(max-width: 920px) {
  .hero-title {
    font-size: 5.8rem;
  }

  .hero-circle-line_box {
    margin-left: -18rem;
  }

  .hero-info_images-part {
    width: 40rem;
    margin-right: -2rem;
  }
  .hero-info_img{
    width: 40rem;
    height: 61rem;
    padding-top: 10rem;
  }
  .hero-text{
    font-size: 1.5rem;
    max-width: 35rem;
  }
}
@media(max-width: 860px) {
  .hero-title {
    font-size: 5rem;
  }

  .hero-circle-line_box {
    margin-left: -20rem;
  }

  .hero-info_images-part {
    margin-right: -2rem;
  }

  .hero-text {
    font-size: 1.5rem;
    max-width: 30rem;
  }
}

@media(max-width: 770px) {
  .hero-title {
    max-width: 50rem;
    font-size: 5rem;
  }

  .hero-circle-line_box {
    margin-left: -25rem;
  }
  .hero-info_img {
    width: 35rem;
    height: 58rem;
    padding-top: 10rem;
  }
  .hero-info_images-part {
    width: 35rem;
    margin-right: -2rem;
  }

  .hero-text {
    font-size: 1.5rem;
    max-width: 30rem;
  }
}
@media(max-width: 660px) {
  .hero-title {
    max-width: 48rem;
    font-size: 4.7rem;
  }

  .hero-circle-line_box {
    margin-left: -30rem;
  }

  .hero-info_img {
    width: 30rem;
    height: 58rem;
    padding-top: 10rem;
  }

  .hero-info_images-part {
    width: 30rem;
    margin-right: -2.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
    max-width: 25rem;
  }
}

@media(max-width: 660px){
    .hero_container{
      flex-direction: column-reverse;
      margin-left: 2rem;
    }
    .hero-info{
      margin-bottom: 15rem;
    }
    .hero-title{
      max-width: 34.3rem;
      font-size: 4.5rem;
      text-align: center;
    }
    .hero-text{
      max-width: 34.3rem;
      font-size: 1.6rem;
      justify-content: center;
      text-align: center;
    }
    .hero-info_images-part{
      background-color: #242424ba;
    }
    .notion-site_btn{
      // margin-left: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .notion-site_btn::after{
      margin-left: 11.5rem;
    }

  }
@media(max-width: 550px){
  .hr-line{
    margin-left: 2rem;
  }
}
@media(max-width: 400px) {
  .hero_container {
    margin-left: 2rem;
  }
  .notion-site_btn::after {
      margin-left: 8rem;
    }
   .hr-line {
      margin-top: -6rem;
      width: 400px;
      margin-left: -2rem;
    }
}
@media(max-width: 1030px){
  .practice-part{
    flex-wrap: wrap;
  }
  .practice-box{
    width: 40%;
  }
}
@media(max-width: 800px) {
  .practice-box{
    margin-left: 5rem;
  }

}
@media(max-width: 620px) {

    .practice-part {
        flex-direction: column;
    }
    .practice-box{
      margin-left: -3rem;
      h1{
        font-size: 6rem;
        text-align: center;
      }
      p{
        text-align: center;
        font-size: 2rem;
      }
    }
}

@media(max-width: 530px) {

  .practice-box {
    margin-left: 1rem;

    h1 {
      font-size: 4rem;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
@media(max-width: 400px) {

  .practice-box {
    margin-left: 1rem;

    h1 {
      font-size: 3.5rem;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@media(max-width: 1240px){
    .full-pages-img {
      width: 50rem;
      height: 35rem;
    }
    .projects-box{
      width: 40%;
    }
}
@media(max-width: 1120px) {
  .full-pages-img {
    width: 45rem;
    height: 30rem;
  }
  
  .projects-wrap {
    h1{
      font-size: 7.5rem;
    }
  }
}
@media(max-width: 1020px) {
  .full-pages-img {
    width: 40rem;
    height: 25rem;
  }

  .projects-wrap {

    h1 {
      font-size: 6rem;
    }
  }
}
@media(max-width: 910px) {
  .full-pages-img {
    width: 35rem;
    height: 25rem;
  }

  .projects-wrap {

    h1 {
      font-size: 7rem;
    }
  }
}
@media(max-width: 800px) {
  .projects-parent_part {
    flex-direction: column;
  }
  .project_box{
   
    margin-left: -3rem;
  }
  .full-pages-img{
    width: 40rem;
    height: 30rem;
  }
  .projects-wrap {
    flex-direction: column;
    h1 {
      font-size: 7rem;
      margin-bottom: 3rem;
    }
  }
}
@media(max-width: 600px) {
  .projects-parent_part {
    flex-direction: column;
  }
    .full-pages-img {
      width: 40rem;
      height: 30rem;
      margin-left: -4rem;
    }
    .project_box {
      h3 {
        text-align: center;
        font-size: 1.7rem;
      }
    
      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  .projects-wrap {
    // flex-direction: column;

    h1 {
      font-size: 6rem;
      margin-bottom: 3rem;
    }
  }
    .notion-site_btn::after {
      margin-left: -0rem;
    }
}
@media(max-width: 400px){
  .full-pages-img {
      width: 30rem;
      height: 25rem;
      // margin-left: -5rem;
    }
}
@media(max-width: 1180px){
  .input_box{
    margin-left: -10rem;
  }
}
@media(max-width: 1070px)
{
  .footer_container{
    flex-direction: column;
  }
     .input_box {
       margin-top: 10rem;
     }
  .footer-wrap{
    p{
    max-width: 44.5rem;
    }
  }
}
@media(max-width: 1070px){
  .footer-end{
    flex-direction: column;

    .footer-icons_box{
      margin-top: 3rem;
    }
  }
}
@media(max-width: 700px){
  .notion-site_btn{
    margin-left: 5rem;
  }
     .input_box {
       margin-left: 5rem;
     }
  .footer{
    background-color: rgb(0, 0, 0);
  }
}